<!DOCTYPE html>
<html lang="device-width" class="W(100%) H(100%)">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="style.css"
        />
        <script src="main.js"></script>
    </head>
    <body class="W(100%) H(100%) M(0) Pt(10)">
        <div
            class="Border1 Pos(r) Bgc(red) Maw(40rem)--sm Maw(60rem)--lg Mstart(a) Mend(a) Pt(2rem)"
        >
            Servus!
        </div>
    </body>
</html>
