---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="device-width" class="M(0) P(0)">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="style.css"
        />
        <script src="main.js"></script>
    </head>
    <body class="M(0) P(0)">
        <div class="W(100%)">
            <img class="W(100%)" src="/media/page.svg.png" alt="page" />
        </div>
    </body>
</html>
